body {
    /* font-family: 'Saira', sans-serif; */
    color: #262e38;
}

.nav-bg-main {
    background-color: #313a46;
}

.nav-top {
    z-index: 100;
    font-family: "Saira", sans-serif;
}

.color-white-trans {
    color: #fff !important;
}

.font-i-sm {
    font-size: 23px;
    opacity: 75%;
    color: #00ffffe1;
}

.font-logo {
    font-size: 25px;
}

.fixed {
    position: fixed;
    width: 100%;
}

.nav-bar-support {
    height: 77px;
}

.nav-brand {
    padding: 20px;
}

.navbar-list ul li {
    display: inline;
    padding: 10px;
}

.navbar-list a,
.side-bar a {
    color: inherit;
    cursor: pointer;
}

.navbar-list ul li,
.side-bar ul li {
    font-size: 16px;
    color: #8391a2;
    cursor: pointer !important;
}

.navbar-list ul {
    margin: 20px 10px 10px 10px;
}

.navbar-list ul li:hover,
.side-bar ul li:hover {
    color: #cedce4;
    text-decoration: underline;
    /* line-height: 1px; */
}

.side-bar {
    background-color: #262e38;
    padding: 30px 43px 30px 0px;
    height: 100vh;
    font-family: "Saira", sans-serif;
}

.side-bar ul li {
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.list-pack {
    border: 2px solid #c6ced6;
}

.bg-d-section {
    background-color: #313a46;
    color: #cedce4;
}

.common-bg-dark{
    background-color: #313a46;
}

.common-bg-light{
    background-color: #c0cacf;
}

.a-text-dec-none{
    text-decoration: none;
    color: white;
}

.a-text-dec-none:hover{
    text-decoration: none;
    color: white;
}

.a-text-dec-none:visited{
    text-decoration: none;
    color: white;
}

.a-text-dec-none:active{
    text-decoration: none;
    color: white;
}

.display-none{
    display: none;
}

.common-color-light{
    color: #cedce4;
}

.common-color-dark{
    color: #262e38;
}

.space{
    height: 200px;
}

.burger{
    background-color: #ffffffaf;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
}

.burger-group, .burger-cross{
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 20px;
    color: #ffffffaf;
}

.after-login-list{
    border-top: 1px solid #8391a22f;
    padding-top: 15px;
}

.user-welcome{
    cursor: text !important; 
    text-decoration: none !important; 
    color: white !important; 
    padding-bottom: 10px;
}












/* footer */
.social-icons > i{
    margin: 0 10px;
    cursor: pointer;
    font-size: 30px;
}

.valid-check{
    border-color: crimson;
    box-shadow: 0px 0px 2px 2px #dc143ca1;
}

.index-social{
    z-index: 100;
}

.width-fit{
    width: fit-content;
}

/* for creating stamp */
/* ------------------------------------------------------------- */
.s-outer{
    border: 2px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-30%);
}

.s-middle{
    border: 2px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.s-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* ------------------------------------------------------------ */


@media (min-width: 576px) {
    .side-bar {
        width: 228px;
    }
    .main-content {
        margin-left: 228px;
    }
    .side-bar ul li {
        text-align: start;
    }
}

@media (max-width: 576px) {
    .nav-top {
        /* min-width: 505px; */
    }
    .main-content {
        /* display: none; */
    }
    .side-bar {
        display: none;
    }
    .burger-group{
        display: block;
    }
    .navbar-list-group{
        display: none;
    }
}
