.index-heading{
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
    font-size: 3.5vw;
}

.index-img-panaroma{
    height: 350px;
    background-color: violet;
    background-image: url("https://i.pinimg.com/originals/af/98/76/af987660727010e9f0a4665fd7453233.jpg");
    background-size: cover;
}

.social-icons > i{
    margin: 0 10px;
    cursor: pointer;
    font-size: 30px;
}

.index-social{
    z-index: 100;
}

.index-type{
    width: 200px;
    margin: 0 auto;
    background-color: #004444;
}

.img-container{
    width: 100%;
    height: 300px;
    position: relative;
}

.img-container img{
    width: 100%;
    height: 300px;
}

.car-img-heading{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #00000067;
    color: #ffffffcc;    
}