.s-outer{
    border: 2px solid;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-30%);
}

.s-middle{
    border: 2px solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.s-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.card-body{
    position: relative;
}