.book-cover{
    background-color: #22921f9d;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
}

.card-detailing{
    position: relative;
}

.book-btn{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.card-header > h5,
.card-footer > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.booked{
    background-color: #8d1e1ec5;
}

.outer-size{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.middle-size{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}