.book-cover{
    background-color: black;
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card-detailing{
    position: relative;
}

.book-btn{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}