.book-cover{
    background-color: #343a40b0;
    /* opacity: 70%; */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
}

.card-detailing{
    position: relative;
}

.book-btn{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.card-header > h5,
.card-footer > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}